<%- include('./layouts/header'); -%>
<section id="hero">
  <nav class="px-5 py-4 d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center gap-3">
      <h3>me.</h3>
      <ul class="m-0 d-flex gap-4">
        <li class="list-group-item"><a href="" class="text-dark">HOME</a></li>
        <li class="list-group-item"><a href="" class="text-dark">SHOP</a></li>
        <li class="list-group-item"><a href="" class="text-dark">BLOG</a></li>
        <li class="list-group-item"><a href="" class="text-dark">PAGE</a></li>
        <li class="list-group-item"><a href="" class="text-dark">CONTACT US</a></li>
      </ul>
    </div>
    <div class="">
      <ul class="m-0 d-flex gap-5">
        <li class="list-group-item"><a href=""class="text-dark fs-4"><i class="uil uil-shopping-cart"></i></a></li>
        <li class="list-group-item"><a href=""class="text-dark fs-4"><i class="uil uil-user"></i></a></li>
      </ul>
    </div>
  </nav>
  <main>
    <div class="text-center">
      <p>#MESTORE</p>
      <h1>Simplify <br>Everything.</h1>
      <a href=""><button class="btn btn-dark mt-5">EXPLORE NOW</button></a>
    </div>
    <div class=""></div>
  </main>
</section>

<section id="forher">
  <div class="left text-center">
    <h1 class="py-5">#forher</h1>
    <div class=""><img src="/img/forher.avif" alt=""></div>
  </div>
  <div class="right">
    <ul class="m-0 p-0 d-flex gap-5">
      <li class="list-group-item"><a href="" class="text-dark active">ALL</a></li>
      <li class="list-group-item"><a href="" class="text-secondary">BLAZERS</a></li>
      <li class="list-group-item"><a href="" class="text-secondary">JACKETS</a></li>
      <li class="list-group-item"><a href="" class="text-secondary">DRESSES</a></li>
      <li class="list-group-item"><a href="" class="text-secondary">TROUSERS</a></li>
      <li class="list-group-item"><a href="" class="text-secondary">ACCESSORIES</a></li>
    </ul>
    <main>
      <div class="">
        <div class="img"><img src="/img/clothes.avif" alt=""></div>
        <p>Polo Shirt</p>
        <b>59$</b>
      </div>
      <div class="">
        <div class="img"><img src="/img/celana.avif" alt=""></div>
        <p>Polo Shirt</p>
        <b>59$</b>
      </div>
      <div class="">
        <div class="img"><img src="/img/baju-merah.avif" alt=""></div>
        <p>Polo Shirt</p>
        <b>59$</b>
      </div>
      <div class="">
        <div class="img"><img src="/img/baju-biru.avif" alt=""></div>
        <p>Polo Shirt</p>
        <b>59$</b>
      </div>
      <div class="">
        <div class="img"><img src="/img/baju-kotak.avif" alt=""></div>
        <p>Polo Shirt</p>
        <b>59$</b>
      </div>
      <div class="">
        <div class="img"><img src="/img/baju.avif" alt=""></div>
        <p>Polo Shirt</p>
        <b>59$</b>
      </div>
    </main>
  </div>
</section>

<section id="poster">
  <div class=""><img src="/img/banner-man.avif" alt=""></div>
</section>

<section id="forhim">
  <div class="right">
    <ul class="m-0 p-0 d-flex gap-5">
      <li class="list-group-item"><a href="" class="text-dark active">ALL</a></li>
      <li class="list-group-item"><a href="" class="text-secondary">BLAZERS</a></li>
      <li class="list-group-item"><a href="" class="text-secondary">JACKETS</a></li>
      <li class="list-group-item"><a href="" class="text-secondary">DRESSES</a></li>
      <li class="list-group-item"><a href="" class="text-secondary">TROUSERS</a></li>
      <li class="list-group-item"><a href="" class="text-secondary">ACCESSORIES</a></li>
    </ul>
    <main>
      <div class="">
        <div class="img"><img src="/img/clothes.avif" alt=""></div>
        <p>Polo Shirt</p>
        <b>59$</b>
      </div>
      <div class="">
        <div class="img"><img src="/img/celana.avif" alt=""></div>
        <p>Polo Shirt</p>
        <b>59$</b>
      </div>
      <div class="">
        <div class="img"><img src="/img/baju-merah.avif" alt=""></div>
        <p>Polo Shirt</p>
        <b>59$</b>
      </div>
      <div class="">
        <div class="img"><img src="/img/baju-biru.avif" alt=""></div>
        <p>Polo Shirt</p>
        <b>59$</b>
      </div>
      <div class="">
        <div class="img"><img src="/img/baju-kotak.avif" alt=""></div>
        <p>Polo Shirt</p>
        <b>59$</b>
      </div>
      <div class="">
        <div class="img"><img src="/img/baju.avif" alt=""></div>
        <p>Polo Shirt</p>
        <b>59$</b>
      </div>
    </main>
  </div>
  <div class="left text-center">
    <h1 class="py-5">#forhim</h1>
    <div class=""><img src="/img/forhim.avif" alt=""></div>
  </div>
</section>

<section id="poster">
  <div class=""><img src="/img/banner-man2.jpg" alt=""></div>
</section>

<section id="sponsor">

</section>

<footer>
  
</footer>
<%- include('./layouts/footer'); -%>
