@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  line-height: 1.2;
  color: var(--bs-heading-color);
}
img{
  width: 100%;
  object-fit: cover;
  height: 100%;
}
#hero{
  background-image: url("/img/hero.jpg");
  background-size: cover;
  height: 100vh;
}
nav{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
nav a{
  font-weight: 600;
  text-decoration: none;
}
#hero main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 100%;
}
#hero main p{
  letter-spacing: .75rem;
}
#hero main h1{
  font-weight: 700;
  font-size: 5rem;
}

/* FORHER */
#forher{
  display: grid;
  gap: 5rem;
  grid-template-columns: 1fr 2.5fr;
  padding: 3rem;
}
.left div{
  width: 100%;
  margin-top: 1rem;
  background-color: aliceblue;
}
.left h1{
  font-weight: 600;
  text-decoration: underline;
}
.left img{
  object-fit: cover;
  /* object-position: bottom; */
  height: 100%;
  width: 100%;
}
.right main{
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  text-align: center;
}
.right main p{
  margin: 0;
}
.right main img{
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.right main .img{
  margin-top: 1rem;
  width: 100%;
  height: 250px;
}
.right a{
  text-decoration: none;
}
#forhim{
  display: grid;
  gap: 3rem;
  grid-template-columns: 3fr 1fr;
  padding: 3rem;
}
.active{
  font-weight: 600;
}

/* POSTERS */
#poster{
  padding: 3rem;
}
#poster div{
  width: 100%;
  height: 400px;
  background-color: aliceblue;
}
#poster img{
  /* object-position: 0 -16rem; */
}